body {
    background-color: bisque;
}
nav {
    display: flex;
    height: 60px;
    background-color: aqua;
}
nav a{
    text-decoration: none;
    margin: 10px 50px;
}
#nav1 {
    margin-top: 15px;
    font-size: 20px;
}